*

!.gitignore
!automations.yaml
!configuration.yaml
!customize.yaml
!groups.yaml
!scripts.yaml
!sensors.yaml
!cameras.yaml
!clouds.yaml
!weather.yaml
!discover_scenes.py
!scenes.yaml
!appdaemon.yaml
!/apps/*
